/*
    CSS Style for QroSlider.
    Created by : Andres Mrad (Q-ro).
    Creation date: June 20 2013.
*/

body{
  font-family: "futura", arial;
}

.qroSlider{
    position: relative;
    width:100%;
    max-width:1000px;
    max-height:500px;
    overflow: hidden;
    padding-top:50%;
} 


.qroSlider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    max-height:500px;
    max-width:1000px;
    top: 0;
    z-index: 1;
    opacity: 0;
}

.qroSlider .slide img
{
    position:absolute;
    z-index:1;
    width:100%;
    height:100%;
    
}

.qroSlider .slide p
{
    position:absolute;
    z-index:2;
    width:20%;
    margin-left:80%;
    margin-top:-1px;
    font-weight:lighter;
    font-size:0.9em;
    color:white;
    background-color:#333;
    opacity:.8;
    height:100%;
}


.qroSlider .prev,
.qroSlider .next{
    float:left;
    display:inline-block;
  width: 50px;
  font-size: 5em;
  color: #fff;
  top: 60%;
  left: 0;
  z-index: 4;
  margin-top: -45px;
  cursor: pointer;
  opacity: .7;
  transition: all 150ms;
}

.qroSlider .prev:hover,
.qroSlider .next:hover{
  opacity: 1;
}

.qroSlider .pager_list{
  height: 40px;
  line-height: 40px;
  bottom: 0;
  text-align: left;
  z-index: 4;
}

.qroSlider .pager_list li{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 7px;
  background: #fff;
  opacity: .7;
  text-indent: -999px;
  border-radius: 999px;
  cursor: pointer;
  transition: all 150ms;
  
}

.qroSlider .pager_list li:hover,
.qroSlider .pager_list li.active{
  opacity: 1;
    background-color:#8eedec;
}

.qroSlider_controls
{
    position:relative;
    background-color:#222;
    z-index:3;
    clear:both;
    top:20px;
}

.wrapper
{
    max-width:980px;
    overflow:visible;
}